<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjuH7_8ZOPCKWrCVxC7tyFVf8z63JiFao</string>
	<key>GCM_SENDER_ID</key>
	<string>883900645910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classroomproject</string>
	<key>PROJECT_ID</key>
	<string>classroomproject-cdbd0</string>
	<key>STORAGE_BUCKET</key>
	<string>classroomproject-cdbd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883900645910:ios:437674c96a969742ac6b37</string>
</dict>
</plist>